
<div class="col-12 header-space" ></div>

<div class="col-12">
	<div class="row">

<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>

		<div class="col-7">

			<h4>Lista de Géneros Cinematográficos</h4>
			
			<div class="row title-space"></div>

			<div class="row" *ngFor="let genreMovie of genreMovieService.genreMovieList">
				<genre-movie-list [genreMovie]="genreMovie" (removedGenre)="removedGenre($event)"
				(updatedGenre)="updatedGenre($event)" ></genre-movie-list>

			</div>
		</div>
		<div class="col-5">

			<h4>Agregue Género </h4>
			<div class="row title-space"></div>


			<div class="row">
				<genre-movie-detail  (addedGenre)="addedGenre($event)"></genre-movie-detail>
			</div>
		</div>
	</div>
</div>
