<div>
	<div class="page-title row">
		<h2 class="col-5">Generos</h2>
	</div>
	<div class="row">
		<ul class="col-6">
			<li *ngFor="let genreMovie of genres" class="row genre-display">
				<genre-movie-list [genreMovie]="genreMovie" (removedGenre)="removedGenre($event)"
				(selectGenre)="selectGenre($event)" class="col-12 card" ></genre-movie-list>
			</li>
		</ul>	
		<ul class="col-4 offset-1">
			<genre-movie-detail (addedGenre)="addedGenre($event)"
				(updatedGenre)="updatedGenre($event)" 
				  [selectedGenre]="selectedGenre"></genre-movie-detail>
		</ul>
	</div>
</div>


