<div class="row">


<div class="col-12">
<span > {{movie.name}} </span>

</div> 

<div class="col-12">
<span >{{movie.synopsis}} </span>

</div> 

<div class="col-12">
	<span>{{getNameGenre(movie.genreId)}} </span>
</div> 

<div class="col-12">
<span>Precio: ${{movie.price}} </span>

</div> 

<div class="col-12">
<span>Disponibles: {{movie.stock}} </span>

</div> 


<div class="col-6">
	<button type="button" (click)="editMovie(movie)" class="btn btn-link">Editar</button>
</div> 

<div class="col-6">
	<button type="button" (click)="removeMovie(movie)" class="btn btn-link">Eliminar</button>
</div>

</div>