<div class="row">
	<nav class="col-8 routes">
		<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a> | 
		<a routerLink="/genre-movie" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Géneros Cinematográficos</a> | 
		<a routerLink="/movie" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Películas</a> |
		<a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Acerca de... </a> |
	</nav>
</div>
